<div class="scene-card">
  <div class="row">
    <div class="col col-3 col-xs-12" style="text-align: center">
      <CharIcon @char={{this.char}} />

      {{#if this.char.id}}
        <LinkTo @route="char" @model={{this.char.name}} target="_blank">View Full Profile</LinkTo>
      {{/if}}
    
    </div>  
    <div class="col col-9 col-xs-12" style="font-size: 0.9em">
      {{#if (not this.char.is_ooc)}}
        {{#each this.char.demographics as |demo|}}
          <div class="row">
            <div class="col col-4">
              <b>{{demo.name}}</b> 
            </div>
            <div class="col col-8">
              {{demo.value}}
            </div>
          </div>
        {{/each}}
        {{#if (not this.char.demographics)}}
          No demographics available.  Try reloading the scene page.
        {{/if}}
      {{/if}}
    
      {{#if this.char.status_message}}
        <div class="alert alert-info">
          {{this.char.status_message}}
        </div>
      {{/if}}
       
    </div>
  </div>

{{#if (not this.char.is_ooc)}}
  <hr>    

  <ul class="nav nav-tabs" role="tablist">
    {{#if this.char.description}}
      <li class="nav-item"><a data-bs-toggle="tab" class="nav-link active" href="#description">Description</a></li>
    {{/if}}

    {{#if this.char.fs3}}
      <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#stats">Stats</a></li>
    {{/if}}
	
    {{#if this.char.custom.items}}
	    <li class="nav-item"> <a data-bs-toggle="tab" class="nav-link" href="#systemitems">Items</a></li>
	  {{/if}}
  </ul>

  <div class="tab-content">
    {{#if this.char.description}}
      <div id="description" class="tab-pane fade show active">
        <AnsiFormat @text={{this.char.description}} />
      </div>
    {{/if}}

    {{#if this.char.fs3}}
      <div id="stats" class="tab-pane fade show">
        <div class="card-abilities">
          {{#each this.char.fs3.attributes as |ability|}}
            <div class="card-ability">
              <span class="card-ability-name">{{ability.name}}</span>
              <Fs3Dots @rating={{ability.rating}} @max={{5}} />
            </div>
          {{/each}}
        </div>

        <div class="card-abilities">
          {{#each this.char.fs3.action_skills as |ability|}}
            <div class="card-ability">
              <span class="card-ability-name">{{ability.name}}</span>
              <Fs3Dots @rating={{ability.rating}} @max={{8}} />
            </div>
          {{/each}}
        </div>

        <div class="card-specialties">
          {{#each this.char.fs3.action_skills as |ability|}}
            {{#if ability.specialties}}
              <div class="card-specialty">{{ability.name}}: {{ability.specialties}}</div>
            {{/if}}
          {{/each}}
        </div>

        <div class="card-abilities">
          {{#each this.char.fs3.backgrounds as |ability|}}
            <div class="card-ability">
              <span class="card-ability-name">{{ability.name}}</span>
              <Fs3Dots @rating={{ability.rating}} @max={{3}} />
            </div>
          {{/each}}
        </div>
 
        <div class="card-abilities">
          {{#each this.char.fs3.languages as |ability|}}
            <div class="card-ability">
              <span class="card-ability-name">{{ability.name}}</span>
              <Fs3Dots @rating={{ability.rating}} @max={{3}} />
            </div>
          {{/each}}
        </div>

        {{#if this.char.fs3.use_advantages}}
          <div class="card-abilities">
            {{#each this.char.fs3.advantages as |ability|}}
              <div class="card-ability">
                <span class="card-ability-name">{{ability.name}}</span>
                <Fs3Dots @rating={{ability.rating}} @max={{3}} />
              </div>
            {{/each}}
          </div>
        {{/if}}
      </div>
      <div id="systemitems" class="tab-pane fade show">
	      {{#each this.char.custom.items as |item|}}
	        <p><b>{{item.name}}</b><br>
	        {{{ansi-format text=item.desc}}}</p>
	      {{/each}}
	    </div>
    {{/if}}
  </div>
{{/if}}
</div>
